*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
#nav{
    background-color: aquamarine;
    text-align: center;
    text-transform: capitalize;
    height: 50px;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 15px;
}
#icon{
    font-size: 30px;
}